
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');
body {

  margin: 0px;
}

h1{
  font-family: 'Rock Salt', cursive;
}

h2 , p{
  font-family: 'Darker Grotesque', sans-serif;
}

.firstSection h1{
  margin-top: 0px;
}
.firstSection{
  color: white;
  background-image: url('background.gif');
  background-size: cover;
  height: 200px;

}

.secondSection{
  background: white;
  height:auto;
}

.thirdSection{
  background: rgb(47,86,233);
  height:auto;
  color: white;
}

.fourthSection{
  background: white;
  height:auto;
}

.fifthSection{
  background: rgb(47, 86, 233);
  height:auto;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-item img{
  border-radius: 10%;
}

.fifthSection img{
  width: 200px;
  height:200px;
}

/*Phone size*/
@media(min-width:300px)  {
 .firstSection{
  font-size: 15px;
  text-align: center;
  height: 500px;
  }
.firstSection img{
  width: 50px;
  height: 50px;
}

  #Title{
    padding-top: 200px;

  }
  .secondSection{
    text-align: center;

  }
  #content h1{
    margin: 0px;
  }


  #content p{
    margin: 0px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-size: 20px;
    text-align: left;

  }
  .thirdSection{
    height: 500px;
    text-align: center;
  }
  #projectContent h1{
    margin: 0px;
  }

  #projectContent img{
    height: 200px;
    width: 200px;
    padding-top: 20px;
  }

  .fourthSection{
    height: auto;
    text-align: center;
  }

.grid-item img{
  width: 150px ;
  height: 150px;
}

  #skillsContent h1{
    margin: 0px;
    height: auto;
  }


  .fifthSection{
    height: 500px;
    text-align: center;
  }

  #contactContent h1{
    margin: 0px;
  }


}

/*tablet size */
@media(min-width:1030px) {
 .firstSection{
  font-size: 20px;
  text-align: center;
  height: 500px;
  width: auto;
  }
.firstSection img{
  width: 50px;
  height: 50px;
}

  #Title{
    padding-top: 200px;

  }
  .secondSection{
    text-align: center;

  }
  #content h1{
    margin: 0px;
  }


  #content p{
    margin: 0px;

    font-size: 20px;
    text-align: center;
    padding: 10px;


  }
  .thirdSection{
    height: 500px;
    text-align: center;
  }
  #projectContent h1{
    margin: 0px;
  }

  #projectContent img{
    height: 200px;
    width: 200px;
    padding-top: 20px;
  }

  .fourthSection{
    height: auto;
    text-align: center;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 50% 50%;

    padding: 10px;
  }

.grid-item img{
  width: 150px ;
  height: 150px;
  border-radius: 10%;
}

  #skillsContent h1{
    margin: 0px;
    height: auto;
  }


  .fifthSection{
    height: 500px;
    text-align: center;
  }

  #contactContent h1{
    margin: 0px;
  }


  @media(min-width:1400px) {
   .firstSection{
    font-size: 30px;
    text-align: center;
    height: 1000px;
    width: auto;
    }
  .firstSection img{
    width: 50px;
    height: 50px;
  }

    #Title{
      padding-top: 200px;

    }
    .secondSection{
      text-align: center;

    }
    #content h1{
      margin: 0px;
    }


    #content p{
      margin: 0px;

      font-size: 20px;
      text-align: center;
      padding: 10px;


    }
    .thirdSection{
      height: 500px;
      text-align: center;
    }
    #projectContent h1{
      margin: 0px;
    }

    #projectContent img{
      height: 200px;
      width: 200px;
      padding-top: 20px;
    }

    .fourthSection{
      height: auto;
      text-align: center;
    }

    .grid-container {
      display: grid;
      grid-template-columns: 50% 50%;

      padding: 10px;
    }

  .grid-item img{
    width: 150px ;
    height: 150px;
    border-radius: 10%;
  }

    #skillsContent h1{
      margin: 0px;
      height: auto;
    }


    .fifthSection{
      height: 500px;
      text-align: center;
    }

    #contactContent h1{
      margin: 0px;
    }

}
